<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gym.mapper.xml.FacilityQueryMapper">

  <resultMap id="FacilityMap" type="com.gym.domain.facility.Facility">
    <id     column="facility_id"         property="facilityId"/>
    <result column="facility_name"       property="facilityName"/>
    <result column="member_id"           property="memberId"/>
    <result column="facility_phone"      property="facilityPhone"/>
    <result column="facility_content"    property="facilityContent"/>
    <result column="facility_image_path" property="facilityImagePath"/>
    <result column="facility_person_max" property="facilityPersonMax"/>
    <result column="facility_person_min" property="facilityPersonMin"/>
    <result column="facility_use"        property="facilityUse"/>
    <result column="facility_reg_date"   property="facilityRegDate"/>
    <result column="facility_mod_date"   property="facilityModDate"/>
    <result column="facility_open_time"  property="facilityOpenTime"/>
    <result column="facility_close_time" property="facilityCloseTime"/>
    <result column="facility_money"      property="facilityMoney"/>
  </resultMap>

  <!-- 목록/검색 -->
  <select id="selectFacilities" resultMap="FacilityMap">
    SELECT
      f.facility_id,
      f.facility_name,
      f.member_id,
      f.facility_phone,
      f.facility_content,
      f.facility_image_path,
      f.facility_person_max,
      f.facility_person_min,
      f.facility_use,
      f.facility_reg_date,
      f.facility_mod_date,
      TO_CHAR(f.facility_open_time,'HH24:MI') AS facility_open_time,
      TO_CHAR(f.facility_close_time,'HH24:MI') AS facility_close_time,
      f.facility_money
    FROM facility_tbl f
    <where>
      <if test="name != null and name != ''">
        AND f.facility_name LIKE '%' || #{name} || '%'
      </if>
      <if test="facilityUse != null">
        AND f.facility_use = (CASE WHEN #{facilityUse} THEN 'Y' ELSE 'N' END)
      </if>
    </where>

    <!-- 정렬 -->
	<choose>
	  <when test="sort != null and sort != ''">
	    <choose>
	      <!-- name -->
	      <when test="sort == 'name,asc' or sort == 'name'">
	        ORDER BY f.facility_name ASC
	      </when>
	      <when test="sort == 'name,desc'">
	        ORDER BY f.facility_name DESC
	      </when>
	
	      <!-- regdate -->
	      <when test="sort == 'regdate,asc' or sort == 'regdate'">
	        ORDER BY f.facility_reg_date ASC
	      </when>
	      <when test="sort == 'regdate,desc'">
	        ORDER BY f.facility_reg_date DESC
	      </when>
	
	      <!-- 그 외 -->
	      <otherwise>
	        ORDER BY f.facility_id
	      </otherwise>
	    </choose>
	  </when>
	  <otherwise>
	    ORDER BY f.facility_id
	  </otherwise>
	</choose>


    <!-- 페이징 -->
    <if test="page != null and size != null">
      OFFSET #{page} * #{size} ROWS FETCH NEXT #{size} ROWS ONLY
    </if>
  </select>

  <select id="countFacilities" resultType="long">
    SELECT COUNT(1)
    FROM facility_tbl f
    <where>
      <if test="name != null and name != ''">
        AND f.facility_name LIKE '%' || #{name} || '%'
      </if>
      <if test="facilityUse != null">
        AND f.facility_use = (CASE WHEN #{facilityUse} THEN 'Y' ELSE 'N' END)
      </if>
    </where>
  </select>

</mapper>
